<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shupian.pvms.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.shupian.pvms.domain.entity.Order">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="carNumber" column="car_number" jdbcType="VARCHAR"/>
            <result property="paymentTypes" column="payment_types" jdbcType="INTEGER"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="zfTime" column="zf_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,car_number,payment_types,
        amount,start_time,end_time,
        zf_time,create_time,update_time,
        del_flag
    </sql>

<!--    <select id="getTag">-->
<!--        select -->
<!--    </select>-->


</mapper>
